@import url('/main.css');

main{
    min-height: 100dvh;
    transition: background 400ms ease;
    background-color: var(--clr-neutral-900);
}

.wordHeader{
    justify-content: space-between;
}

.wordHeader > div{
    gap: .5rem;
}

.optinsBtn{
    background: none;
    color: var(--clr-neutral-100);
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 3rem;
    font-weight: 900;
    aspect-ratio: 1;

    anchor-name: --options-btn;
}

.optinsBtn:hover,
.optinsBtn:focus-visible{
    background: var(--clr-neutral-800);
    box-shadow: 0 0 2px #0005;
}

.optinsMenu{
    position: absolute;
    inset: auto;
    min-width: 10rem;
    top: anchor(bottom);
    right: anchor(right);
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: .5rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 3px #000a;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);

    position-anchor: --options-btn;
}

.optinsMenu:popover-open{
    display: flex;
}

.optinsMenu h3{
    padding: 1rem;
    color: var(--clr-neutral-300);
}

.optinsMenu input{
    display: none;
}

.optinsMenu label{
    padding: .5rem 2rem;
}

.optinsMenu label:has(:checked){
    background: linear-gradient(to right, var(--clr-bg2), var(--clr-bg3));
    color: var(--clr-neutral-100);
}

.word__panel{
    margin-top: 3rem;
    gap: 1rem;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    justify-self: stretch;
}

.word__panel span{
    font-size: 1.5rem;
}

span.question{
    font-size: 2rem;
}

.dashWrapper{
    gap: 1rem;
}

.empty{
    letter-spacing: .5rem;
}

.input__area{
    width: min(100%, 60ch);
    gap: 1rem;
    align-items: baseline;
}

input {
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--clr-neutral-300);
    outline-color: var(--clr-accent);
    letter-spacing: .125rem;
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    min-width: 7rem;
}

.error{
    border: 1px var(--clr-error);
    background-color: #ff5757;
}

.success{
    border: 2px green;
    background-color: #68ff57 ;
}

.hint{
    float: inline-end;
    border: 2px solid var(--clr-accent);
    font-weight: bold;
    color: white;
    padding: .5rem 2rem;
    border-radius: 2rem;
    background-color: var(--clr-accent);
}

.hint:hover, .hint:focus-visible{
    background-color: var(--clr-secondary);
}

.counter{
    background-color: var(--clr-accent);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    float: inline-end;
    border: 1px solid var(--clr-neutral-300);
    min-width: 3rem;
    text-align: center;
}

.defHolder{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 60ch;
    margin: 1rem auto;
}

.def{
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-900);
    padding: .5rem ;
    border-radius: .5rem;
}

.defHolder a{
    background-color: var(--clr-accent);
    color: var(--clr-neutral-900);
    padding: .5rem 2rem;
    border-radius: .5rem;
}

.defHolder a:hover,
.defHolder a:focus-visible{
    background-color: var(--clr-secondary);
}

.currentWordHolder{
    gap:  .5rem;
    max-width: 60ch;
    margin: 8rem auto 2rem;
    border-radius: 1rem;
    padding: 2rem;
    align-items: center;
    /* border: 2rem solid var(--clr-accent); */
    background: 
                /* radial-gradient(circle at 100% 0, var(--clr-accent) 4rem, transparent 4rem), */
                linear-gradient(300deg, var(--clr-bg2) 10%, var(--clr-bg3) 90%);
    color: var(--clr-neutral-100);
    box-shadow: 0 0 5px #0005;
}

.currentWordHolder h2{
    font-size: 3rem;
    align-self: start;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: var(--clr-accent);
}

.currentWordHolder h3{
    font-size: 2.5rem;
}

.currentWordHolder > span{
    margin-bottom: 3rem;
}

.currentWordHolder > div{
    margin: 1rem 2rem; 
    text-align: center;
}

.currentWordHolder a{
    color: var(--clr-accent);
    padding: .5rem;
    border-radius: .5rem;
}