   *,
*::after,
*::before {
    box-sizing: border-box;
}

@root{
    
} 

body{
    text-align: center;
    padding: 3em 0;
}

button {
    font-size: 20px;
    padding: ;
}

.grid {
    margin: 10px auto;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 202px;
    width: 202px;
}

.grid div {
    width: 10px;
    height: 10px;
}

.snake {
    background-color: blue;
}

.apple {
    background-color: red;
    border-radius: 8px 10px 15px 17px;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-height: 300px;
    max-width: 300px;
    margin: 20px auto;
}

.up {
    grid-column: 2/3;
    grid-row: 1/2;
}
.left{
    grid-column: 1/2;
    grid-row: 2/3
}
.right{
    grid-column: 3/4;
    grid-row: 2/3
}
.down {
    grid-column: 2/3;
    grid-row: 3/4;
}
