*,
*::after,
*::before{
    box-sizing: border-box;
}

.number_range{
    --_accent_color: red ;
    --_background_color: rgb(247, 168, 207);
    --_color: #32f5f2;
    --_border_radius: .5rem;
    background-color: var(--_background_color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    border-radius: var(--_border_radius);
}

.number_range input[type="number"]{
    background-color: var(--_accent_color);
    color: var(--_color);
    flex: 4ch 1 1;
    border: none;
    text-align: center;
    padding-inline: var(--_border_radius);
    border-radius: var(--_border_radius) 0 0 var(--_border_radius);
}

.number_range input[type="number"]:focus{
    outline: none;
}

.number_range input[type="range"]{
    flex: 20px 5 0;
    -webkit-appearance: none;   
    appearance: none;
    background: transparent;
    background-image: linear-gradient(to right ,red, red);
    cursor: pointer;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 0 var(--_border_radius) var(--_border_radius) 0;
}



.number_range input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:0;
    height: 0;
}

.number_range input[type="range"]::-moz-range-thumb{
    width: 0;
    height: 0;
    box-shadow: none;
    outline: none;
    background: transparent;
}

